body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    box-sizing: border-box;
    position: relative;
    overflow: scroll;
    scroll-margin-top: 50px;
}

.content::-webkit-scrollbar {
    appearance: none;
    width: 0;
}

.content form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: lightgrey;
    padding: 20px;
}

.content form input {
    width: 90%;
    border: 0;
}

.content form input:focus {
    outline: none;
}

.content form button {
    background-color: blueviolet;
    border: 0;
    color: white;
    padding: 3px 5px;
    margin-left: 10px;
    border-radius: 3px;
}